[submodule "OpenGL-Examples/pyglfw"]
	path = OpenGL-Examples/pyglfw
	url = https://github.com/rougier/pyglfw
[submodule "OpenGL-Examples/glm"]
	path = OpenGL-Examples/glm
	url = https://github.com/mackst/glm.git
